<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849743869905-pl2lscodi5tr7mj7esd14bkga5f0ec05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849743869905-pl2lscodi5tr7mj7esd14bkga5f0ec05</string>
	<key>API_KEY</key>
	<string>AIzaSyDXYWWe6L3PEe-2dv5Q3elBB6xpV59r-F0</string>
	<key>GCM_SENDER_ID</key>
	<string>849743869905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kopaapp</string>
	<key>PROJECT_ID</key>
	<string>kopaapp-e5c20</string>
	<key>STORAGE_BUCKET</key>
	<string>kopaapp-e5c20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849743869905:ios:d93304dc9d67ae93cf52f0</string>
</dict>
</plist>